.div {
	background-color: green;
	border: 4px solid #DAA520;
	height: 50px;
}
#header {
	color: #DAA520;
	text-align: center;
	padding-bottom: 10px;
}
body {
	background-color: #F8F8FF;
}
#linkdiv {
	position: relative;
	text-align:center;
	color: #DAA520;
}
a.frog:link {
	text-decoration: none;
	color: #DAA520;
}
a.frog:visited {
	text-decoration: none;
	color: #DAA520;
}
a.frog:hover {
	text-decoration: none;
	color: white;
}
#frogButton {
	height: 100px; 
	width: 100px; 
	background-color: green; 
	margin:auto; color: white; 
	border: 2px solid green; 
	border-radius: 100%; 
	text-align: center;
}
a div p {
	color: #DAA520;
	font-family: cursive;
	bottom: 20px;
}
#Jad {
	font-size: 25px; 
	color: green;
	text-align:center; 
	font-family: cursive;
}
.divv {
	background-color: green;
	border: 4px solid #DAA520;
	width: 50px;
	height: 580px;
}
#divdiv {
	position: absolute;
	left: 0px;
}
#divdivdiv {
	position: absolute;
	right: 0px;
}
a.button:link {
	text-decoration: none;
	color: daa520;
}
a.button:visited {
	text-decoration: none;
	color: daa520;
}
a.button:hover {
	text-decoration: none;
	color: white;
}
		