body {
  background-color: #ebdef0;
}

tr {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .wins_display,
  .player,
  .centerdivs,
  .logo {
    display: none;
  }
}

h1,
p {
  text-align: center;
}

.player {
  width: 100%;
  text-align: center;
}

.player_img {
  width: auto;
  height: 30em;
}

.wins_display {
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big_wins {
  margin: 0;
  font-size: 5em;
}

.big_percent {
  margin: 0;
  font-size: 3em;
}

.big_container {
  display: block;
  text-align: center;
}

.centerdivs {
  width: 20%;
  text-align: center;
  padding-top: 6em;
}

.contentdiv {
  width: 80%;
  margin-left: 10%;
  display: flex;
}

.logo {
  padding-top: 2em;
}

.logo_img {
  width: auto;
  height: 9em;
}

.allgames {
  padding-top: 0.5em;
  font-weight: bold;
}

.allgames p {
  font-size: 1.1em;
}

.tablediv {
  text-align: center;
  display: block;
}

table.data {
  width: 36%;
  margin-left: 32%;
  margin-top: 1.8em;
  border-spacing: 0 0.5em;
}
