body {
  background-color: #ebdef0;
}

tr {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 768px) {
  .wins_display,
  .big_container,
  .player,
  .centerdivs,
  .logo {
    display: none;
  }
}

h1,
p {
  text-align: center;
}

.player {
  width: 100%;
  text-align: center;
}

.player_img {
  width: auto;
  height: 30em;
}

.wins_display {
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big_wins {
  margin: 0;
  font-size: 5em;
}

.big_percent {
  margin: 0;
  font-size: 3em;
}

.big_container {
  display: block;
  text-align: center;
}

.centerdivs {
  width: 20%;
  text-align: center;
  padding-top: 6em;
}

.contentdiv {
  width: 80%;
  margin-left: 10%;
  display: flex;
}

.logo {
  padding-top: 2em;
}

.logo_img {
  width: auto;
  height: 9em;
}

.allgames {
  padding-top: 0.5em;
  font-weight: bold;
}

.allgames p {
  font-size: 1.1em;
}

.tablediv {
  text-align: center;
  display: block;
}

/* Dropdown Selector */

.dropdown-button {
  background-color: rgb(217, 217, 217);
  color: black;
  padding: 0.4em;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.dropdown-menu {
  position: relative;
  align-items: normal;
  text-align: center;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  transform: translateX(57em);
  text-align: left;
  background-color: #f9f9f9;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Style for the dropdown on hover */
.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-menu:hover .dropdown-button {
  background-color: rgb(191, 191, 191);
}

@media only screen and (min-width: 768px) {
  table.data {
    width: 36%;
    margin-left: 32%;
    margin-top: 1.8em;
    border-spacing: 0 0.5em;
  }
}
