tr {
    background-color: #f8f8f8;
}
h1, p {
    text-align: center;
}

.player {
    width: 40%;
    text-align: center;
}
.centerdivs {
    width: 20%;
    text-align: center;
    padding-top: 6em;
}
.contentdiv {
    width: 50%;
    margin-left: 25%;
    display: flex;
}
.logo {
    padding-top: 6em;
}
.allgames {
    padding-top: 4.5em;
}
.tablediv {
    text-align: center;
    display: block;
}
table.data {
    width: 36%;
    margin-left: 32%;
    margin-top: 1.8em;
}
