* {
    font-family: Helvetica, sans-serif;
}

/*#intro {*/
/*    font-family: Courier, sans-serif;*/
/*}*/

div {
    margin: auto;
    width: max-content;
}

table, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #f8f8f8;
    /*color: #fff;*/
}

.ranktable {
    width: 50%;
    float: left;
}

/*#playerfact p {*/
/*    text-align: center;*/
/*}*/